{
  BasedOnStyle: Google,
  IndentWidth: 4,
  TabWidth: 4,
  UseTab: Never,
  ColumnLimit: 100,
  BreakBeforeBraces: Custom,
  BraceWrapping:
    {
      AfterClass: false,
      AfterControlStatement: Never,
      AfterEnum: false,
      AfterFunction: true,
      AfterNamespace: false,
      AfterStruct: false,
      AfterUnion: false,
      BeforeCatch: false,
      BeforeElse: false,
    },
  PointerAlignment: Left,
  IndentCaseLabels: true,
  AccessModifierOffset: 0,
  AllowShortFunctionsOnASingleLine: All,
  SortIncludes: true,
  AlignConsecutiveAssignments: None,
  SpacesInParentheses: false,
  BinPackArguments: true,
  BinPackParameters: true,
  MaxEmptyLinesToKeep: 1,
  NamespaceIndentation: All,
}
