renderer:
{
    resolution = { width = 1200; height = 900; };
    background = "SKY"
    maxDepth = 20;
};

camera:
{
    position = { x = 1; y = 1; z = 1; };
    rotation = { x = -20; y = -20; z = 0; };
    fieldOfView = 70;
};

materials:
{
    textures = (
        {
            name = "SKY";
            filepath = "texture/sky.jpg";
        },
        {
            name = "DOOMFIST";
            filepath = "texture/doomfist.png";
        }
    );

    reflectives = (
        {
            name = "MIRROR";
            reflectiveIndex = 1.0;
        }
    );
};

primitives:
{
    spheres = (
        {
            position = { x = 0.0; y = 0.0; z = 2.5; };
            r = 0.6;
            material = "DOOMFIST";
        }
    );

    boxes = (
        # Front wall (behind camera)
        {
            position = { x = -4.0; y = -4.0; z = -4.0; };
            dimension = { x = 8.0; y = 8.0; z = 0.1; };
            material = "MIRROR";
        },
        # Back wall (behind sphere)
        {
            position = { x = -4.0; y = -4.0; z = 5.0; };
            dimension = { x = 8.0; y = 8.0; z = 0.1; };
            material = "MIRROR";
        },
        # Left wall
        {
            position = { x = -4.0; y = -4.0; z = -3.9; };
            dimension = { x = 0.1; y = 8.0; z = 8.9; };
            material = "MIRROR";
        },
        # Right wall
        {
            position = { x = 3.9; y = -4.0; z = -3.9; };
            dimension = { x = 0.1; y = 8.0; z = 8.9; };
            material = "MIRROR";
        },
        # Bottom wall
        {
            position = { x = -3.9; y = -4.0; z = -3.9; };
            dimension = { x = 7.8; y = 0.1; z = 8.9; };
            material = "MIRROR";
        },
        # Top wall
        {
            position = { x = -3.9; y = 3.9; z = -3.9; };
            dimension = { x = 7.8; y = 0.1; z = 8.9; };
            material = "MIRROR";
        }
    );
};

lights:
{
    ambient = 1;
};
