renderer:
{
    resolution = { width = 1200; height = 1200; };
    samples = 64;
    maxDepth = 20;
};

camera:
{
    position = { x = 0.0; y = 0.7; z = 0.2; };
    rotation = { x = 30; y = 0.0; z = 0.0; };
    fieldOfView = 80;
};

materials:
{
    lambertians = (
        { name = "floor";   color = { r = 30;  g = 30;  b = 30;  }; },
        { name = "white";   color = { r = 255; g = 255; b = 255; }; },
        { name = "gold";    color = { r = 255; g = 200; b = 50;  }; },
        { name = "crimson"; color = { r = 180; g = 20;  b = 20;  }; },
        { name = "teal";    color = { r = 20;  g = 180; b = 160; }; }
    );

    refractives = (
        {
            name = "glass";
            color = { r = 255; g = 255; b = 255; };
            transparency = 1;
            refractiveIndex = 1.5;
        }
    );

    textures = (
        {
            name = "sky";
            filepath = "texture/sky.jpg";
        },
        {
            name = "chess";
            filepath = "texture/chessboard.jpg";
        },
        {
            name = "grunge_floor";
            filepath = "texture/grunge.jpg";
        }
    );
};

primitives:
{
    # Sol en texture grunge
    planes = (
        {
            position = { x = 0.0; y = -2.0; z = 0.0; };
            material = "chess";
        }
    );

    # Sphère centrale en verre
    spheres = (
        {
            position = { x = 0.0; y = 0; z = 2; };
            r = 0.6;
            material = "glass";
        }
    );
};

lights:
{
    ambient = 0.15;

    directionals = (
        {
            direction = { x = 1; y = -2; z = 1; };
            intensity = 0.9;
            color = { r = 255; g = 240; b = 200; };
        }
    );
};