renderer:
{
    resolution = { width = 500; height = 500; };
};

camera:
{
    position = { x = -1.9; y = 1.5; z = 1.0; };
    rotation = { x = 14.0; y = 35.0; z = 0.0; };
    fieldOfView = 95;
};

materials:
{
    lambertians = (
        { name = "mat_0_0_255"; color = { r = 0; g = 0; b = 255; }; },
        { name = "mat_255_255_255"; color = { r = 255; g = 255; b = 255; }; },
        { name = "mat_255_0_0"; color = { r = 255; g = 0; b = 0; }; },
        { name = "mat_0_255_0"; color = { r = 0; g = 255; b = 0; }; },
        { name = "mat_100_100_100"; color = { r = 100; g = 100; b = 100; }; }
    );
};

primitives:
{
    cylinders = (
        { position = { x = -0.3; y = 0.0; z = 4.0; }; rotation = { x = 0.0; y = 0.0; z = 0.0; }; h = 3.2; r = 0.6; material = "mat_0_0_255"; },
        { position = { x = -1.25; y = 0.0; z = 3.4; }; rotation = { x = 0.0; y = 0.0; z = 0.0; }; h = 1; r = 0.3; material = "mat_255_255_255"; },
        { position = { x = 1.1; y = 0.0; z = 3.2; }; rotation = { x = 0.0; y = 0.0; z = 0.0; }; h = 1; r = 0.8; material = "mat_255_0_0"; },
        { position = { x = 1.1; y = 0.0; z = 4.5; }; rotation = { x = 0.0; y = 0.0; z = 0.0; }; h = 1.4; r = 0.5; material = "mat_0_255_0"; },
        { position = { x = -0.3; y = 0.0; z = 2.5; }; rotation = { x = 0.0; y = 0.0; z = 0.0; }; h = 0.1; r = 0.7; material = "mat_100_100_100"; },
    );

    planes = (
        {
            position = { x = 0.0; y = -0.0; z = 2.0; };
            # rotation = { x = 0.0; y = 0.0; z = 0.0; };
            material = "mat_255_255_255";
        }
    );
};

lights:
{
    ambient = 0.4;

    directionals = (
        { direction = { x = 1.0; y = -2.0; z = 1; }; intensity = 0.75;}
    );
};
