# Configuration of the renderer
renderer:
{
    resolution = { width = 400; height = 300; };
    background = "GREEN"
};

# Configuration of the camera
camera:
{
    position = { x = 0.0; y = 0.0; z = 1.0; };
    fieldOfView = 90.0;
};

# Configuration of the materials
materials:
{
    lambertians = (
        {
            name = "GREEN";
            color = { r = 0; g = 255; b = 0; };
        },
    );
    textures:
    (
        {
            name = "grunge";
            filepath = "texture/grunge.jpg";
        }
    );
};

# Configuration of the primitives
primitives:
{
    spheres:
    (
        {
            position = { x = 0.0; y = 0.0; z = 3.0; };
            r = 1.0;
            material = "grunge";
        }
    );
};

# Configuration of the lights
lights:
{
    directionals:
    (
        {
            direction = { x = 0.0; y = -0.8; z = 1.0; };
            intensity = 0.8;
        }
    );
};
